*{ /* Applies the properties all over the body.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    width: 100%;
}
.wrapper .nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #A9A9A9;
    padding: 0 30px;
    height: 50px;
    align-items: center;
}
.wrapper .nav .menu ul li{
    display: inline-block;
    margin: 0 10px;
}
.wrapper .nav .menu ul li a{
    color: fuchsia;
    font-size: 12px;
}
.wrapper .nav .menu ul li a:hover{
    color: lightslategray;
}
.wrapper .search{
    position: relative;
}
.wrapper .search input[type="text"]{
    border: 0;
    padding: 0 0px;
    width: 0px;
    height: 35px;
    border-radius: 3px;
}
.wrapper .search .icon{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    width: 35px;
    height: 100%;
    border-radius: 3px;
    color: indigo;
}
.wrapper .search .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.wrapper .search .icon:active{
    background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);
    transition: all 0.3s ease;
}
.wrapper .search input[type="text"]:active{
    width: 250px;
    padding: 0 10px;
    transition: all 0.5s ease;
}
.wrapper .search .icon:hover{
    color: maroon;
}